
.time {
    display: flex;
    flex-direction: row;

}

.pastTime {
    background-color: #808080;
}

.presentTime {
    background-color: #ff0000;
}

.futureTime {
    background-color: #008000;
}

p {
    text-align: center;
    font-size: 1.5rem
}

h1  {
    text-align: center;
    font-size: 4.5rem;
}